body {
  margin: 0;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.in{
  text-transform: uppercase;
}
header{
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
  color: black;
  height: 150px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.cal{
  
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: gold;
  color: black;
  height: 100px;
  display: flex;
  max-width: auto;
  font: bold 35px arial;
}
.pa{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
input{
  height: 30px;
  width: 25%;
  border-radius: 5px;
  font-size: 20px;
  background-color: gold;
}
select{
  height: 30px;
  width: 25%;  
  border-radius: 5px;
  font-size: 20px;
  align-items: center;
  background-color: gold;
}
.iss{
  text-align: center;
  align-items: baseline;
  display: flexbox;
  ;
}