.boundary{
    flex:1;
    background-color: black;
}
.divhead{
    flex:1;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    height: 100px;
    background: radial-gradient(darkviolet,black);
    margin-bottom: 20px;
}
.all{
    flex:1;
    text-align: center;
    background: linear-gradient(violet,black);
    height: auto;
}
.numbers{
    font-size: x-large;
    color: white;
}
.formm{
    flex: 1;
    font-size: larger;
}
.inputt{

    font-size: x-large;
}
.inputa{

    border-radius: 5px;
    font-size: x-large;
    background-color: silver;
}
.fromm{
    font-size: x-large;
    border-radius: 10px;
}
.too{
    font-size: x-large;
    border-radius: 10px;
}
select{
    background-color: silver;
    flex: 1;
    height: 40px;
    border-radius: 10px;
}