html
{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(violet,black);
}

.divhead{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    height: 100px;
    background: radial-gradient(darkviolet,black);
    margin-bottom: 20px;
}
.all{
    text-align: center;
}
.numbers{
    font-size: x-large;
    color: white;
}
.formm{
    font-size: larger;
}
.inputt{
    font-size: x-large;
}
.inputa{

    border-radius: 5px;
    font-size: x-large;
    background-color: silver;
}
.fromm{
    font-size: x-large;
    border-radius: 10px;
}
.too{
    font-size: x-large;
    border-radius: 10px;
}
select{
    background-color: silver;
    height: 40px;
    border-radius: 10px;
}